<table>
  <tr>
    <td rowspan="2"><b>Stress scenario</b></td>
    <td>What you might get back after costs</td>
    <td><span id="strs_one_year" class="2_digits"></span></td>
    <td><span id="strs_rhp_half" class="2_digits"></span></td>
    <td><span id="strs_rhp" class="2_digits"></span></td>
  </tr>
  <tr>
    <td>Average return each year</td>
    <td><span id="strs_one_year_ret" class="2_digits"></span></td>
    <td><span id="strs_rhp_half_ret" class="2_digits"></span></td>
    <td><span id="strs_rhp_ret" class="2_digits"></span></td>
  </tr>
  <tr>
    <td rowspan="2"><b>Unfavourable scenario</b></td>
    <td>What you might get back after costs</td>
    <td><span id="ufav_one_year" class="2_digits"></span></td>
    <td><span id="ufav_rhp_half" class="2_digits"></span></td>
    <td><span id="ufav_rhp" class="2_digits"></span></td>
  </tr>
  <tr>
    <td>Average return each year</td>
    <td><span id="ufav_one_year_ret" class="2_digits"></span></td>
    <td><span id="ufav_rhp_half_ret" class="2_digits"></span></td>
    <td><span id="ufav_rhp_ret" class="2_digits"></span></td>
  </tr>
  <tr>
    <td rowspan="2"><b>Moderate scenario</b></td>
    <td>What you might get back after costs</td>
    <td><span id="mod_one_year" class="2_digits"></span></td>
    <td><span id="mod_rhp_half" class="2_digits"></span></td>
    <td><span id="mod_rhp" class="2_digits"></span></td>
  </tr>
  <tr>
    <td>Average return each year</td>
    <td><span id="mod_one_year_ret" class="2_digits"></span></td>
    <td><span id="mod_rhp_half_ret" class="2_digits"></span></td>
    <td><span id="mod_rhp_ret" class="2_digits"></span></td>
  </tr>
  <tr>
    <td rowspan="2"><b>Favourable scenario</b></td>
    <td>What you might get back after costs</td>
    <td><span id="fav_one_year" class="2_digits"></span></td>
    <td><span id="fav_rhp_half" class="2_digits"></span></td>
    <td><span id="fav_rhp" class="2_digits"></span></td>
  </tr>
  <tr>
    <td>Average return each year</td>
    <td><span id="fav_one_year_ret" class="2_digits"></span></td>
    <td><span id="fav_rhp_half_ret" class="2_digits"></span></td>
    <td><span id="fav_rhp_ret" class="2_digits"></span></td>
  </tr>
</table>
