<table>
  <tr>
    <td rowspan="2"><b>One-off costs</b></td>
    <td><b>Entry costs</b></td>
    <td><span id="entry_costs" class="2_digits"></span></td>
    <td>The impact of the costs you pay when entering your investment.</td>
  </tr>
  <tr>
    <td><b>Exit costs</b></td>
    <td><span id="exit_costs" class="2_digits"></span></td>
    <td>The impact of the costs of exiting your investement when it matures.</td>
  </tr>
  <tr>
    <td rowspan="2"><b>Ongoing costs</b></td>
    <td><b>Portfolio transaction costs</b></td>
    <td><span id="portfolio_transaction_costs" class="2_digits"></span></td>
    <td>The impact of the costs of us buying and selling underlying investements for the product.</td>
  </tr>
  <tr>
    <td><b>Other ongoing costs</b></td>
    <td><span id="other_ongoing_costs" class="2_digits"></span></td>
    <td>The impact of the costs that we take each year for managing your investments.</td>
  </tr>
  <tr>
    <td rowspan="2"><b>Incidental costs</b></td>
    <td><b>Performance fees</b></td>
    <td><span id="performance_fees" class="2_digits"></span></td>
    <td></td>
  </tr>
  <tr>
    <td><b>Carried interests</b></td>
    <td><span id="carried_interest" class="2_digits"></span></td>
    <td></td>
  </tr>
</table>
